.with-icon {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    font-weight: 700;

    &::before {
        content: '';
        width: 1em;
        height: 1em;
        margin-right: .25em;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}