[class^=card-] {

    &::before {
        width: 3em;
        height: 3em;
    }
}

.card-ally {
    @apply text-yellow-700;

    &::before {
        background-image: url('./images/ally.png');
    }
}

.card-item-common {
    @apply text-lime-700;

    &::before {
        background-image: url('./images/item-common.png');
    }
}

.card-item-unique {
    @apply text-red-500;

    &::before {
        background-image: url('./images/item-unique.png');
    }
}

.card-skill {
    @apply text-amber-500;

    &::before {
        background-image: url('./images/skill.png');
    }
}

.card-spell {
    @apply text-violet-500;

    &::before {
        background-image: url('./images/spell.png');
    }
}