---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout pageTitle="Ancient One">
  <h2>Awakens if...</h2>
  <ul class="text-xl list-disc list-inside">
    <li>Doom Track is full</li>
    <li>Too many gates open</li>
    <li>No gate markers are left</li>
    <li>No monsters left in the cup</li>
  </ul>
  <p>When Ancient One awakens, fill it's doom track!</p>
  <h2>Battle</h2>
  <ol class="text-xl list-disc list-inside">
    <li>Investigators Refresh & Trade items</li>
    <li>Each Investigator attacks in turn</li>
  </ol>
</BaseLayout>
