---
import BaseLayout from "../layouts/base.astro";
import Token from "../components/token/token.astro";
---

<BaseLayout pageTitle="Game setup">
  <ol class="list-decimal">
    <li>Prepare playing area.</li>
    <li>Place <Token type="clue" /> on <Token type="unstable" />.</li>
    <li>Select first player and give <Token type="active-player" /> to them.</li>
    <li>Detemine <Token type="investigator" /></li>
    <li>Choose ancient one randomly</li>
    <li>Place decks</li>
    <li>Hand out fixed possessions</li>
    <li>Shuffle <Token type="investigator" /> decks</li>
    <li>Hand out random possessions</li>
    <li>
      Hand out
      <Token type="sanity" />,
      <Token type="stamina" />
      and
      <Token type="slider" multi />.
    </li>
    <li>Create monster cup</li>
    <li>Shuffle monster decks and gate markers</li>
    <li>Place <Token type="investigator" /> on their homes</li>
    <li>Draw and resolve a non-rumor mythos card</li>
    <li>Add a doom token</li>
  </ol>
</BaseLayout>
