---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout pageTitle="Skill checks">
  <ul class="text-xl list-disc list-inside">
    <li>Combat checks Fight</li>
    <li>Evade checks Sneak</li>
    <li>Horror checks Will</li>
    <li>Spells check Lore</li>
  </ul>
</BaseLayout>
