---
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout pageTitle="Terror level">
  <p>Return one ally to the deck for every increase.</p>
  <ul class="text-xl list-disc list-inside">
    <li>At <strong>3</strong> the General Store closses</li>
    <li>At <strong>6</strong> the Curiositie Shoppe closses</li>
    <li>At <strong>9</strong> the Olde Magick Shoppe closses</li>
    <li>At <strong>10</strong> the Monster limit is removed. Add a doom token. Arkham is overrun.</li>
  </ul>
</BaseLayout>
