.location-unstable {
    margin-left: .5em;
    color: red;

    &::before {
        content: '';
        width: .75em;
        height: .75em;
        background-color: red;
        transform: rotate(45deg) translate(-.25em,.125em);
    }
}