<nav class="flex-none nav-links">
  <ul class="m-4 sticky top-0">
    <li><a href="/">Wprowadzenie</a></li>
    <li><a href="/setup">Przygotowanie</a></li>
    <li><a href="/legend">Elementy</a></li>
    <li>---</li>
    <li><a href="/phases">Fazy</a></li>
    <!-- <li><a href="/skill-checks">Skill checks</a></li> -->
    <li><a href="/combat">Walka</a></li>
    <li><a href="/monsters">Potwory</a></li>
    <li><a href="/terror-level">Poziomy paniki</a></li>
    <li><a href="/ancient-one">Przedwieczny</a></li>
    <!-- <li><a href="/cheatsheet">Cheatsheet</a></li> -->
    <li>---</li>
    <li><a href="/original-pages">Oryginalna instrukcja</a></li>
  </ul>
</nav>
<div class="relative">
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
</div>
<script>
  // document.addEventListener("astro:page-load", () => {
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    document.querySelector(".nav-links")?.classList.toggle("expanded");
  });
  // });
</script>

<style>
  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
    position: sticky;
    top: 0;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #000;
  }

  .nav-links {
    width: 100%;
    /* top: 5rem; */
    /* left: 48px; */
    background-color: #ff9776;
    display: none;
    margin: 0;
    position: fixed;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  a:focus {
    background-color: #ff9776;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
      position: static;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }

    .hamburger {
      display: none;
    }
  }
</style>
