<nav class="flex-none">
  <ul class="m-4">
    <li><a href="/">Home</a></li>
    <li><a href="/setup">Game setup</a></li>
    <li><a href="/phases">Phases</a></li>
    <!-- <li><a href="/skill-checks">Skill checks</a></li> -->
    <li><a href="/legend">Legend</a></li>
    <li><a href="/combat">Combat</a></li>
    <li><a href="/monsters">Monsters</a></li>
    <li><a href="/terror-level">Terror level</a></li>
    <li><a href="/ancient-one">Ancient One</a></li>
    <!-- <li><a href="/cheatsheet">Cheatsheet</a></li> -->
  </ul>
</nav>
