---
import { tokens } from "./definitions";
import type { Token } from "./types";
import "./token.scss";

type Props = {
  type: Token;
  multi?: boolean;
};

const { type, multi } = Astro.props;

const item = tokens[type];
---

<span class="flex items-center">
  <img src={item.img} class="token__img" />
  <span class:list={item.color} class="token__text">
    {item.label}{multi ? "s" : ""}
  </span>
</span>
