.token__text {
    // display: inline-flex;
    // vertical-align: middle;
    // align-items: center;
    font-weight: 600;
}

.token__img {
    max-width: 2em;
    max-height: 1em;
    margin-right: .25em;
}