[class^=token-] {

    &::before {
        width: 1em;
        height: 1em;
    }
}

.token-clue {
    color: forestgreen;

    &::before {
        background-image: url('./images/clue.png');
    }
}

.token-sanity {
    color: dodgerblue;

    &::before {
        background-image: url('./images/sanity.png');
    }
}

.token-slider {
    color: blueviolet;

    &::before {
        background-image: url('./images/slider.png');
    }
}

.token-stamina {
    color: crimson;

    &::before {
        background-image: url('./images/stamina.png');
    }
}